 .widget {
  width: 200px;
 }

.header {
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  padding: 0.5rem;
  gap: 0.25rem;
}

.dayName {
  font-size: var(--fs-12);
  font-weight: 600;
}

.day {
  font-size: var(--fs-14);
  padding: 0.25rem 0;
}

.today {
  background: var(--brand);
  color: #fff;
  border-radius: 4px;
}
