.widget {
  width: 200px;
}

.header {
  justify-content: center;
  margin-bottom: var(--space-3);
}

.body {
  text-align: center;
}

.temp {
  font-size: 48px;
  font-weight: 300;
  line-height: 1;
}

.loading {
  text-align: center;
}
